/* React Flag Select stylings */

.flag-select {
  position: relative;
  display: inline-block;
  vertical-align: inherit;
  padding-bottom: 5px;
  color: #4d4d4d;
  text-align: left;
}
.flag-select img {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  top: 0.3em;
}
.flag-select .selected--flag--option {
  cursor: pointer;
  padding: 0 8px;
}
.flag-select .selected--flag--option:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
.flag-select .selected--flag--option .country-label {
  padding-left: 9px;
}
.flag-select .country-flag {
  cursor: pointer;
}
.flag-select .country-flag .country-label {
  font-size: 1em;
  position: relative;
}
.flag-select .flag-options {
  position: absolute;
  z-index: 999999;
  border: 1px solid #eef1f4;
  border-radius: 4px;
  background: #ffffff;
  margin-top: 17px;
  left: 50%;
  padding: 8px 0;
  max-height: 160px;
  overflow: auto;
  box-shadow: 0 8px 25px 0 rgba(141, 141, 141, 0.22);
  transform: translateX(-50%);
}
.flag-select .flag-options.to--left {
  right: 10px;
}
.flag-select .flag-option {
  cursor: pointer;
  padding: 0px 8px 3px 8px;
  margin: 4px 0;
  white-space: nowrap;
}
.flag-select .flag-option.has-label {
  padding: 0px 20px 3px 8px;
}
.flag-select .flag-option:hover {
  background: #5eb79e;
  color: white;
}
.flag-select .flag-option .country-label {
  padding: 0 9px;
}
.flag-select .filterBox {
  width: 100%;
}
.flag-select .filterBox input {
  width: 90%;
  margin: 0 4%;
}
.flag-select .filterBox input:focus {
  outline: none;
}
.flag-select .arrow-down {
  color: #4d4d4d;
  padding-right: 5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3e%3cpath d='M5 7.7c-.2 0-.4-.1-.6-.3L1 3.6c-.3-.3-.3-.8 0-1.1.3-.3.8-.3 1.1.1L5 5.8l2.9-3.2c.3-.4.8-.4 1.1-.1.3.3.3.8 0 1.1L5.6 7.4c-.2.2-.4.3-.6.3z' fill='%2351a08a'/%3e%3c/svg%3e");
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 10px;
}

.flag-select .hidden {
  display: none;
}
.flag-select .no--focus {
  pointer-events: none;
}
