@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto:300,400,400i,500,700,900&display=swap');

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #262626;
  font-family: 'Nunito', sans-serif;
  font-display: swap;
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'kern';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
  color: #6e7885;
  transition: color 0.1s ease-in;
}

a:hover {
  color: #a3a9b2;
}

p {
  line-height: 1.48;
  margin: 0;
}

.semantic-popup-wrapper::before {
  box-shadow: none !important;
}

.bg-grey1 {
  background: #f5f7fa;
}

.slick-slide {
  text-align: center;
}

/* Issue with slick slider */
.slick-slide,
.slick-slide:focus,
.slick-slide div,
.slick-slide div:focus,
.slick-slide a {
  outline: none;
}

.slick-list {
  padding: 10px 0;
  margin: 0 -15px;
}

.text-center {
  text-align: center;
}

.pl-btn {
  transition: 0.1s all linear;
}
.pl-btn:active,
.pl-btn:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui.button {
  font-family: 'Nunito', sans-serif;
  font-display: swap;
  font-weight: 400;
}

img.lazyload:not([src]) {
	visibility: hidden;
}